/* 
    Agenda : 
    -------
    1. CSS Variables
*/

/* Always a good idea to declare variables in Global Scope under root*/
:root{
    --theme-color:rgb(51, 70, 70);
    --secondary-color:rgb(186, 0, 0);
    --text-color:rgb(34, 255, 0);
}
.context{
    background-color: var(--theme-color);
}
.d1{
    background-color: var(--secondary-color);
}
h4{
    color: var(--text-color);
}
p{
    color: var(--text-color);
}