/* 
    Agenda
    -------
    1. Color and bg color properties 
    2. adding background 
    3. css unit 
    4. margins and padding 
    5. borders 
    6. box model
    7. display properties 
    8. position properties 
    9. min-max width 
*/

h1 {
    color: rgb(255, 0, 0);
    /* 
        There are 2 ways to select a color : 
        color : name_of_Color ;
        color : rgb(255,255,255) ;
        color : #HexValue
    */
    font-size: 100px;
}
p {
    color: aliceblue;
    font-size: 40px;
}

/* 
    Backgorund Properties 
    --------------------
    1. background-color
    2. background-image
    3. background-position 
    4. background-size 
    5. background-repeat 
    6. background-attachment
*/
body{
    background-color: bisque;
    background-image: url('/HTML/Images/bg2.jpg');
    /* url(link to image) or url(relative path to image) */
    background-repeat: no-repeat;
    /* 
        repeat-X :  repeats the image only in the x-axis 
        repeat-y : repeat the image only in the y-axis 
        no-repeat : doesn't repeat the image on any axis 
    */
    
    /* 
        background(x-axis , y-axis)
        or
        background(left || right || center || ... )
    */

    /* 
        ***Note : if we want to cover something for full available height of the page , 
        we use 100vh (viewHeight) 
    */
    height: 100vh;

    background-size: cover ;
    /* 
        auto = whatever is the original height and width of the image 
        cover = whatever is the area avaliable, it'll stretch the image to cover all that area
        contain = If the image is bigger, it'll make it smaller so that it fits the page
    */

    background-attachment: fixed ;
    /* 
        fixed : fixed the bg image so page scroll will only scroll th content and not the bg
        scroll : the bg image will also scroll with the content 
        PS : Fixed is just way cooler
    */
}