<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soma | Social Media App</title>

    <style>
        .container{
            width: max-content;
            margin: auto;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoutsn875nTTmb5Lqke0Hm9xJW3CUKFGRZbw&usqp=CAU" alt="Profile Not Found">
    </div>
</body>
</html>